#wrapper {
  width: 100%;
}

body {
  background-color: #f8f8f8;
}

.login-panel {
  margin-top: 25%
}

.btn-orange {
  background-color: #f49325;
  color: white;
  font-weight: 600;
}

.btn-orange:hover {
  color: white;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-brand > img {
  height: 32px;
  margin-top: -5px;
}

.navbar-default {
  background-color: #f49325;
}

.navbar-top-links li a {
  color: black;
  min-height: 30px;
}

.dropdown-submenu > a:focus, .dropdown-submenu > a:hover, .dropdown-submenu:focus>a, r, .dropdown-submenu:hover>a,
.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus { background-color: #f49325; background-image: none; filter: none; text-decoration: none; border: none; }
.dropdown-menu .dropdown-user {
  margin: 0;
}

.alert-general {
  text-align: center;
  color: black;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }

  #page-wrapper {
    position: inherit;
    margin: 0;
    border-left: 1px solid #e7e7e7;
  }
}

#page-wrapper {
  background-color: white;
  min-height: 580px;
  width: 75%;
  margin-left: 260px;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
  a {
    font-size: 17px;
  }
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-second-level li {
  border-bottom: none !important;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

#sidebar-wrapper {
  position: fixed;
  height: 100%;
  background-color: #f5f5f5;
  border-color: #ddd;
}

#sidebar-wrapper .sidebar-nav li {
  line-height: 35px;
}

